@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

.navbar {
  height: 2.5em;
  background-color: #0b111a!important;
  border-bottom: 1px solid black;
}
body {
  margin: 0;
  padding 0;
  text-align: center;
  background-color: #0b111e;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  color: #becdd3;
}
h2, strong {
  color: #6082a0;
}
h1 {
  color: #6082a0;
  font-family: "Dancing Script", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-size: 3.5em;
  margin-bottom: 0.1em;
  margin-top: 0em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #cccccc;
}

.nycsky-text {
  font-family: "Dancing Script", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #cccccc;
}

a {
  color: #3e5c76;
  font-weight: bold;
}
a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}
a:hover {
  color: #748cab;
  transition: color .5s ease-in-out;
  -moz-transition: color .5s ease-in-out;
  -webkit-transition: color .5s ease-in-out;
}

.nycsky-container {
  margin: 0 auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.flexgrid {
  margin: 0 auto;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  max-width: 100%;
  height: 400px;
  border: 0px solid black;
  flex-wrap: wrap;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: space-evenly;
  flex-shrink: 0;
  align-items: center;
  position: relative;
}

.item {
  border: none;
  width: 200px;
  height: 100px;
  background: tomato;
  color: white;
  text-align: center;
  margin: auto;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  flex: 1 1 calc(10%);
}

.nycsky-footer {
  position: fixed;
  left: 0;
  bottom: 0.2em;
  width: 100%;
  height: 24px;
  text-align: center;
}

.icon {
  width: 20px;
  height: 20px;
  opacity: 0.5;
  vertical-align: middle;
}
.icon:hover {
  opacity: 1.0;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}

.cell {
  margin: 0.0rem;
}

.cell img {
  display: block;
}

.cell img:hover {
  opacity: 1.0;
  filter: alpha(opacity=50);
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}

.responsive-image {
  max-width: 100%;
  opacity: 0.025;
}

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: calc(100% / 20 - 0.0rem);
  }
}

@media screen and (min-width: 1200px) {
  .cell {
    width: calc(100% / 40 - 0.0rem);
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 50%;
}

.modal-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #6082a0;
  padding: 10px 0;
  height: 150px;
  font-family: "Dancing Script", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
}

.videocontainer {
  max-height: 100px;
  overflow:hidden;
  z-index: 0;
}
.videooverlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
video {
  max-width: 100%;
  width: 100%;
}

.btn {                                                                          
  font-weight: 700;                                                             
  text-transform: uppercase;                                                    
  border: none;                                                                 
  border-radius: 300px;                                                         
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;                
}                                                                               
                                                                                
.btn-xl {                                                                       
  padding: 1rem 2rem;                                                           
}                                                                               
                                                                                
.btn-primary {                                                                  
  background-color: #F05F40;                                                    
  border-color: #F05F40;                                                        
}                                                                               
                                                                                
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {                   
  color: #fff;                                                                  
  background-color: #ee4b28 !important;                                         
}                                                                               
                                                                                
.btn-primary:active, .btn-primary:focus {                                       
  -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;           
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;                   
}

.nav-link {
  margin: 0 1em;
}
