<html>
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="static/stylesheet.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="static/ues_sky.js"></script>
  <script>
    $(function() { OnPageLoad(); });
    
    function OnPageLoad() {
    }

  </script>
</head>
<body>
<div class="container">
  <h1> hello there upper east side </h1>

<script>

function date_from_filename(url) {
  timestamp = Number(url.replace(/^.*[\\\/]/, '').replace('.jpg', ''))
  return new Date(timestamp*1000);
}

function pretty_print_date(d) {
  return d.toISOString().slice(0,10) + " " + d.toLocaleTimeString();
}

function display_modal(img, image_url) {
  var image_date = date_from_filename(image_url);
  // Get the modal
  var modal = $('#modal')[0];
  modal.style.display = "block";
  $('#modalimage').attr("src", image_url);
  $('#modalimage').click(function() { modal.style.display = 'none'; });
  $('#modalcaption').text(pretty_print_date(image_date));
}
</script>
<script>
image_colors = [
% for image in images:
[${image['mean_color'][0]}, ${image['mean_color'][1]}, ${image['mean_color'][2]}],
% endfor
]
</script>


<div id="modal" class="modal">
  <img class="modal-content" id="modalimage"></img>
  <div class="modal-caption" id="modalcaption"></div>
</div>

<div class="grid">
  % for image in images:
  <div class="cell" style="background: rgba(${image['mean_color'][0]}, ${image['mean_color'][1]}, ${image['mean_color'][2]}, 10.0);">
    <img src="${image['url_thumb']}" class="responsive-image" onclick="display_modal($(this), '${image['url']}');">
  </div>
  % endfor
  
</div>

<div class="footer">
  <a href="index.html">UESSKY</a> 
  &bull; <a href="about.html">About</a>
  &bull; <a href="https://github.com/vasiliykarasev/"><img src="static/github-logo.png" class="icon"></img></a>
  &bull; Updated on ${update_date}
</div>

</div>
</body>
</html>
