<html>
<head>
<%include file="head.html"/>

<script src="static/ues_sky.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-24988729-3"></script>
<script>
window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-24988729-3');
</script>

<script>
$(function() { OnPageLoad(); });

function OnPageLoad() {
  GenerateGrid();

  $(document).keydown(function(event) {
    maybe_handle_volume(event);
    handle_modal_control(event);
  });
  $(document).mousedown(function(event) {
    handle_modal_control(event);
  });
  var audio = document.getElementById("newyorksky-audio");
  audio.volume = 0.1;
  audio.removeAttribute('controls');
  promise = audio.play();
  if (promise !== undefined) {
    promise.then(_ => {}).catch(error => {console.log("autoplay prevented!")});
  }

}
</script>
<meta name="keywords" content="New York City, New York Sky, NYC, New York Skyline">
<meta name="description" content="Live view of New York City's sky. View from Upper East Side.">
<title>New York Sky</title>

</head>
<body>

<%include file="navbar.html" args="current='home'"/>

<audio controls autoplay loop id="newyorksky-audio">
<source src="http://s3.amazonaws.com/newyorksky.live/audio/latest.mp3" type="audio/mp3">
</audio>


<script>
function try_increase_volume() {                                                
  var audio = document.getElementById("newyorksky-audio");                      
  var promise = audio.play();                                                   
  if (promise !== undefined) {                                                  
    promise.then(_ => {}).catch(error => {console.log("autoplay prevented!")}); 
  }                                                                             
  audio.volume = Math.min(1.0, audio.volume + 0.1);                             
}

function try_decrease_volume() {                                                
  var audio = document.getElementById("newyorksky-audio");                      
  var promise = audio.play();                                                   
  if (promise !== undefined) {                                                  
    promise.then(_ => {}).catch(error => {console.log("autoplay prevented!")}); 
  }                                                                             
  audio.volume = Math.max(0.0, audio.volume - 0.1);                             
}

function maybe_handle_volume(event) {
  if (event.type != "keydown") {
    return;
  }
  if (event.key == "[") {
    try_decrease_volume();
  } else if (event.key == "]") {
    try_increase_volume();
  }
}


function handle_modal_control(event) {
  if (!modal_shown) {
    return;
  }
  if (event.type == "mousedown") {
    close_modal();
  }
  if (event.type == "keydown") {
    if (event.key == 'ArrowLeft') {
      current_image_index = Math.max(0, current_image_index - 1);
      display_modal(current_image_index);
    }
    if (event.key == 'ArrowRight') {
      current_image_index = Math.min(image_urls.length-1, current_image_index+1);
      display_modal(current_image_index);
    }
    if (event.key == 'Escape') {
      close_modal();
    }
  }
}

function close_modal() {
  var modal = $('#modal')[0];
  modal.style.display = "none";
  modal_shown = false;
}


function display_thumb(image_index) {
  thumb_url = thumb_url_base + "/" + image_urls[image_index];
  $('#imgcell'+image_index).attr("src", thumb_url);
}

function display_modal(image_index) {
  modal_shown = true;
  current_image_index = image_index;
  image_url = image_url_base + "/" + image_urls[image_index];
  var image_date = date_from_filename(image_url);
  // Get the modal
  var modal = $('#modal')[0];
  modal.style.display = "block";
  $('#modalimage').attr("src", image_url);
  $('#modalimage').click(function() { close_modal(); });
  $('#modalcaption').text(pretty_print_date(image_date));
}

var current_image_index = 0;
var modal_shown = false;

function GenerateGrid() {
  for (var i = 0; i < image_colors.length; ++i) {
    rgba = "rgba({0},{1},{2},10.0)".format(image_colors[i][0],image_colors[i][1],image_colors[i][2]);
    div = document.createElement("div");
    div.setAttribute("class", "cell");
    div.setAttribute("style", "background: " + rgba);
    div.setAttribute("onmouseover", "display_thumb({0})".format(i));
    
    img = document.createElement("img");
    img.setAttribute("src", "static/dummy.jpg");
    img.setAttribute("class", "responsive-image");
    img.setAttribute("onclick", "display_modal({0})".format(i));
    img.setAttribute("id", "imgcell{0}".format(i));

    div.appendChild(img);
    document.getElementById("grid").appendChild(div);
  }
}

</script>
<script>

image_colors = [
% for image in images:
[${image['sky_color'][0]},${image['sky_color'][1]},${image['sky_color'][2]}],
% endfor
]
image_url_base = "${images[0]['url_image_dirname']}"
thumb_url_base = "${images[0]['url_thumb_dirname']}"
image_urls = [
% for image in images:
"${image['url_basename']}",
% endfor
]
</script>


<div id="modal" class="modal">
  <img class="modal-content" id="modalimage"></img>
  <div class="modal-caption" id="modalcaption"></div>
</div>

<div id="grid" class="grid"></div>

<%include file="footer.html" args="update_date=update_date"/>

</div>
</body>
</html>
